* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h4 {
  font-size: 20px;
  font-weight: bold;
  font-family: Arial;
}

p {
  font-family: Arial;
}

.container {
  width: 1000px;
  margin: 30px auto;
}

img {
  display: block;
}

.flex-container{
  /* row 방향이 기본 값 */
  flex-direction: row;
  /* 메인축 정렬 */
  /* justify-content: flex-start; */
  /* justify-content: flex-end; */
  justify-content: center;
  /* justify-content: space-between; */
  /* 내부 간격이 외부 간격의 2배 */
  /* justify-content: space-around; */
  /* 내부 외부 간격의 균등 정렬 */
  /* justify-content: space-evenly; */
}