* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h4 {
  font-size: 20px;
  font-weight: bold;
  font-family: Arial;
}

p {
  font-family: Arial;
}

.container {
  width: 1000px;
  margin: 30px auto;
}

img {
  display: block;
}

.flex-container {
  display: flex;
}

.item1 {
  align-self: flex-start;
  order: 0;
  /* 주축에서 남는 공간을 항목들에게 분배 */
  flex-grow: 1;
}

.item2 {
  align-self: center;
  order: -1;
  flex-grow: 2;
}

.item3 {
  align-self: flex-end;
  order: 1;
  flex-grow: 3;
}